body {
  font-family: sans-serif;
}

body .main-page-container {
  overflow: hidden;
  background-image: url('data.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 17pt;
  background-origin: content-box;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.layer {
  background-color: rgba(123, 165, 202, 0.3);
  position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#logo {
  /* padding-top: 5%; */
  display: block;
}

.container {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  display: flex;
  justify-content: center;
}

.logo-container {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

.mini-container {
  background-color: white;
  opacity: 0.5;
  width: 300;
  height: 200;
}

.myButton {
  -moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
  box-shadow: inset 0px 0px 0px 0px #ffffff;
  background-color: transparent;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  border: 2px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  /* font-weight: bold; */
  padding: 25px 65px;
  text-decoration: none;
  text-shadow: 0px -5px 50px #528ecc;
}
.myButton:hover {
  background-color: transparent;
}
.myButton:active {
  position: relative;
  top: 1px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

li {
  list-style-type: none;
  padding: 0px;
}

#container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 25px;
}

#dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dz-message {
  text-align: center;
  padding-top: 60px;
}

.dropzone {
  border: none;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  border: 0;
  outline: 0;
  padding-bottom: 60px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.upload-msg {
  align-self: flex-start;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #d4d8da;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #6f257f;
  stroke-width: 5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #f1f3f3;
  stroke: #6f257f;
  stroke-width: 5px;
}

.hover-line {
  stroke: #6f257f;
  stroke-width: 2px;
  stroke-dasharray: 3, 3;
}

#cover {
  margin-left: 50%;
  margin-top: 50px;
  margin-right: auto;
}

.description {
  padding-top: 0.1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  margin: 0 auto;
  margin-top: 25px
}

#editPaper {
  width: 350px;
  flex-grow: 1;
  height: 525px;
}

#editChart {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 650px;
  margin-left: 20px;
  margin-right: 100px;
  justify-content: center;
}

#working {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 100px;
  font-size: 20px;
  font-style: italic;
  color: lightgrey;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}

#globalEdit {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 0 auto;
}

#homeContainer {
  margin-left: 65px;
  margin-top: 40;
}

#dashboard-container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  padding-top: 3em;
  padding-bottom: 1em;
}

#globalContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3em;
  padding-left: 2em;
}

#controlButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#ctrlBtn {
  margin-top: 10px;
  width: 150px;
}

#dropzone-div {
  background-color: white;
  opacity: 1;
}

.modal {
  background-color: white;
}

.date {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
